{{ define "main" }}
<h1 style="color: #333333;" class="post-title">{{ .Title }}</h1>
<div>
    {{ if .Date }}
    <time style="color: #333333;"><i class="fa fa-calendar" style="color: #333333;"></i>&nbsp; {{ .Date.Format "02 Jan 2006 15:04 MST" }}</time>
    {{ end }}
    {{ if in .Params.tags "Definitie" }}
    <a style="color: #333333;" href="/tags/{{ index ( .Params.tags) 0 | urlize }}" ><i class="fa fa-folder-open"></i>&nbsp;Mai multe despre #{{ index ( .Params.tags) 0 | urlize }}</a>
    {{ end }}
</div>
    <!-- {{ if .Date }}
    <time style="color: #333333;"><i class="fa fa-calendar" style="color: #333333;"></i>&nbsp; {{ .Date.Format "2 January, 2006" }}</time>
    {{ end }}
    {{ if in .Params.tags "Definitie" }}
    <a style="color: #333333;" href="/tags/{{ index ( .Params.tags) 0 | urlize }}" ><i class="fa fa-folder-open"></i>&nbsp; Vezi etichetă  </a>
    {{ end }} -->
    <div style="color: #333333;">
        <p>
        {{ .Content }}
        </p>
    </div>
    {{ template "_internal/disqus.html" . }}

    <div class="page-footer">
        {{if .Params.tags}}
        <hr class="footer-divider">
        {{ range .Params.tags }}
            <a style="color: #333333;" class="tag" href="/tags/{{ . | urlize }}">#{{.}}</a>
        {{ end }}
      {{ end }}
      <div class="share-links">
        {{ partial "share-links.html" . }}
    </div>

{{end}}