{{ define "main" }}
<!-- Page that displays after clicking on a post's tag -->
  <h1 style="color: #333333;"> Etichetă "{{ .Data.Term }}"</h1>
  {{range .Pages}}
  
    <!-- Display the posts with the tag -->
    <article>
            <h2>
                <a style="color: #333333;" href="{{ .Permalink }}">
                    {{ .Title }}
                </a>
            </h2>
            <div style="color: #333333;">
                <p>
                {{ .Summary }}
                </p>
            </div>
            <div class="post-footer">
            <time class="fa fa-calendar" style="color: #333333;"><b>{{ .Date.Format "02 Jan 2006 15:04 MST" }}</b></time>
            </div> 
        </article>
    {{ end }}

{{ end }}