{{ define "main" }}
<div class = "article-content" style="color: #333333;">
        {{ if isset .Site.Params "description" }}
        <div class="description">
            <p>{{ .Site.Params.Description | markdownify }}</p>
        </div>
        {{ end }}
        <!-- Range over the pages and only include the ones that are a post type -->
        {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
        {{ range (.Paginate $pages).Pages }}
        <article>
            <h2 class="post-title">
                <a href="{{ .Permalink }}" style="color: #333333;">
                    {{ .Title }}
                </a>
            </h2>
            <div><p>{{ .Summary }}</p></div>
            <div class="post-footer">
            <b><i class="fa fa-calendar" style="color: #333333;"></i>&nbsp;<time style="color:#333333">{{ .Date.Format "02 Jan 2006 15:04" }}</time></b>

            <!-- Display tags -->
            {{if .Params.tags}}
                {{ range .Params.tags }}
                    <a class="tag" style="color: #333333;" href="/tags/{{ . | urlize }}">#{{.}}</a>
                {{ end }}
            {{ end }}

            <a class="read-more-link" href="{{ .Permalink }}"><i class="fa fa-folder-open"></i>&nbsp;Citește mai mult </a>
            </div> 
           
        </article>
        {{ end }}
    </div>
        <!-- Custom paginator -->
        <div class="paginator">
        {{ $paginator := .Paginator }}
        {{ if gt .Paginator.TotalPages 1 }}
        <p>Page {{ $paginator.PageNumber}} of {{ $paginator.TotalPages }}</p>
        <div class="paginator-group">
            {{ if $paginator.HasPrev }}
            <a class="color-link" href="{{ $paginator.Prev.URL }}">
                    <svg width="13px" height="9px" viewBox="0 0 13 9" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
                        <g class="color-arrow" fill="#63BDA2" fill-rule="nonzero">
                            <polygon id="Path" points="1.75929935 4.50000282 5.3292523 7.62371165 4.6707477 8.37628835 0.240700645 4.49999718 4.67081049 0.623709205 5.32930951 1.37629079"></polygon>
                            <polygon id="Path" points="13 4 13 5 1 5 1 4"></polygon>
                        </g>
                </svg>  
                Newer          
            </a>
            {{ end }}
            {{ if $paginator.HasNext }}
                <a class="color-link older" href="{{ $paginator.Next.URL }}">
                    Older
                    <svg width="13px" height="9px" viewBox="0 0 13 9" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
                            <g class="color-arrow" fill="#63BDA2" fill-rule="nonzero">
                                <polygon points="7.6707477 1.37628835 8.3292523 0.623711653 12.7592994 4.50000282 8.32918951 8.37629079 7.67069049 7.62370921 11.2407006 4.49999718"></polygon>
                                <polygon id="Path" points="0 5 0 4 12 4 12 5"></polygon>
                            </g>
                    </svg>
                        
                </a>
            {{ end }}
        </div>
        {{ end }}
    </div>
{{ end }}