$light-blue: #3bbefd;

.site-title a, .rss-text div {
    color: #333333;
}

.rss-text .fa-rss {
    font-size: 1.5rem;
    color: #ff5731;
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer .social-icon {
    height: initial;
}

.read-more-link {
    font-weight: bold;
    color: #333333;
    float: right;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-color: #252582;
    border: 1px solid #555555;
}

footer .social-icon.facebook-icon > svg:hover {
    fill: #1e049e;
    
}

@media only screen and (max-width: 600px) {
    .post-title {
        text-align: center;
    }
  }