<footer class="footer">
	{{ partial "social.html" . }}

	<!-- <p><a href="https://github.com/kimcc/hugo-theme-noteworthy" target="_blank" rel="noopener">Noteworthy theme</a></p>
	<p><a href="https://gohugo.io" target="_blank" rel="noopener">Built with Hugo</a></p> -->
	<p><a href="/static-post/despre" rel="noopener" style="color:darkblue"><b>Despre Blog</b></a></p>
	<p><a href="/static-post/libertate/index.html" rel="noopener" style="color:darkblue"><b>Libertăți</b></a></p>
	<!-- <p><a rel="noopener" style="color:#00009b"><b>Intimitate</b></a></p>
	<p><a rel="noopener" style="color:#00009b"><b>Drepturi de Autor</b></a></p>
	<p><a rel="noopener" style="color:#00009b"><b>Patente</b></a></p>
	<p><a rel="noopener" style="color:#00009b"><b>Economia Digital-Distributistă (Economia Pirat)</b></a></p>
	<p><a rel="noopener" style="color:#00009b"><b>Anonimitate</b></a></p>
	<p><a rel="noopener" style="color:#00009b"><b>Democrație Directă și Participativă</b></a></p>
	<p><a rel="noopener" style="color:#00009b"><b>Software Liber și Deschis</b></a></p>
	<p><a rel="noopener" style="color:#00009b"><b>Transparență Guvernamentală</b></a></p>
	<p><a rel="noopener" style="color:#00009b"><b>Federalism</b></a></p>
	<p><a rel="noopener" style="color:#00009b"><b>NATO</b></a></p>
	<p><a rel="noopener" style="color:#00009b"><b>UE</b></a></p>
	<p><a rel="noopener" style="color:#00009b"><b>Ideologii Politice</b></a></p>
	<p><a rel="noopener" style="color:#00009b"><b>Tehnologie</b></a></p>
	<p><a rel="noopener" style="color:#00009b"><b>Drepturi Umane</b></a></p>
	<p><a rel="noopener" style="color:#00009b"><b>Legislație</b></a></p>
	<p><a rel="noopener" style="color:#00009b"><b>Medicină</b></a></p>
	<p><a rel="noopener" style="color:#00009b"><b>Cultură și Social</b></a></p> -->
	

	{{ $script := resources.Get "js/main.js" | minify | fingerprint -}}
	<script src="{{ $script.Permalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }}></script>
</footer>