<!-- Facebook -->
{{ if .Site.Params.socialShareFacebook | default true}}

  <a href="//www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" class="share-btn facebook">
    <i class="fa fa-facebook"></i>
    <span>Facebook</span>
  </a>
{{ end }}

<!-- Twitter -->
{{ if .Site.Params.socialShareTwitter | default true}}
  <a href="//twitter.com/share?url={{ .Permalink }}&amp;text={{ .Title }}&amp;via=StefanBrindusa"
    target="_blank" class="share-btn twitter">
    <i class="fa fa-twitter"></i>
    <span>Twitter</span>
  </a>
{{ end }}