.site-title a, .rss-text div {
    color: #333333;
}

.rss-text .fa-rss {
    font-size: 1.5rem;
    color: #ff5731;
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer .social-icon {
    height: initial;
}

.read-more-link {
    font-weight: bold;
    color: #333333;
    float: right;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-color: #252582;
    border: 1px solid #555555;
}

footer .social-icon.facebook-icon > svg:hover {
    fill: #1e049e;
}

footer .social-icon.twitter-icon > svg:hover {
    fill: darkcyan;
}

footer .social-icon > .fa-rss:hover {
    color: rgb(119, 65, 0);
}

footer .social-icon.email-icon > svg:hover {
    fill: darkred;
}

@media only screen and (max-width: 600px) {
    .post-title {
        text-align: center;
    }
}

a[href="#rezumat"] {
    color: #333333;
}

a {
    color: darkblue;
}

.background-img {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    z-index: -1;
}

.content-container p {
    text-align: justify;
}

.link { 
    color: red;
}

@media only screen and (min-width: 912px) {
    nav {
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    top: 0;
    left: 0px;
    width: 240px;
    padding: 0;
    padding-left: 34px;
    background: white;
    }
}

.img-post {
    width: 70vw;
}

.share-links {
    float: right;
    display: flex;
    justify-content: space-evenly;
}

.share-links a {
    background-color: #e6e2e2;
    padding: 0 6px;
    border: 1px solid #cac4c4;
    border-radius: 4px;
    margin-left: 3px;
    color: white;
    font-size: 0.75rem;
    line-height: 1.2rem;;
    box-shadow: 1px 3px 7px 0px #65616152;
}

.share-links .twitter {
    background-color:rgb(59, 190, 253);
}

.share-links .twitter:hover {
    background-color:rgb(31, 152, 207);
}

.share-links .facebook  {
    background-color:rgb(67, 89, 199);
}

.share-links .facebook:hover {
    background-color:rgb(13, 40, 173);
}
